/*
<link href="./man.css" rel="stylesheet"></head>
*/
html {
    background-color: #aaa;
} 
body {
    margin: 0 2em;
    background-color: #f0f0f0;
    padding: 0 1.5em;
}
h1 {
    color:#44883c;
    margin:0;
    font-size:1.8em;
}
h2 {
    background-color: #44883c;
    margin: 1em 0;
    color:#fff;
    padding:0 0 0 1em;
    font-size: 1.2em;
    text-transform: capitalize;
}
pre {
    background-color:#777;
    color:#fff;
    padding: .4em 0.7em;
}
i {
    background-color: #fff;
    padding: 0 0.2em;
}

font[color="#0000FF"] {
    color:#14680c;
    -color:#48e674;
}

a[href^="#"] {
    margin-left:5%;
    text-decoration: none;
    padding-left: .4em; 
    border-left: 3px solid #f0f0f0;
    color:#000;
}
a[href^="#"]:hover {
    border-left-color: #aaa;
    color:#44883c;
}